# environment variables
.env

# virtual environment

/venv/
/.venv/

# pycache

bugalink-backend/BugaLink/__pycache__/
bugalink-backend/newsletter/__pycache__/
bugalink-backend/newsletter/migrations/__pycache__/
*.pyc

# IDE configuration

.vscode/
