# IDE configuration

.vscode/

# environment variables
.env

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
/venv/
/.venv/

# pycache

bugalink-backend/BugaLink/__pycache__/
bugalink-backend/newsletter/__pycache__/
bugalink-backend/newsletter/migrations/__pycache__/
*.pyc


